body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E9EDEE;
    width: 1500px;
}

/* Header */

header img {
    height: 3em;
    padding: 1em 0 0.5em 3em; 
}

.logo_amazon {
    background-color: #222F3F;
}

.near_logo {
    background-color: #35465A;
    padding: 0.7em 0 0.7em 2em;
}

.near_logo a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

header p {
    display: inline-block;
    margin: 0 0.8em;
}

/* Main */

main, footer {
    text-align: center;
}

main {
    padding: 0 1em;
}

main section {
    margin: 2em;
}

/* First section */

main #first_sec {
    background-color: #F56600;
    color: white;
    padding: 0.5em;
}

/* Second section */

#second_sec {
    background-image: url("../images/bg-image.png");
    padding: 3em 0;
    color: white;
}

#second_sec div {
    background-color: #306E63;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#second_sec h1 {
    font-weight: bold;
    font-size: 2.3em;
    margin: 0.8em 0;
}

h4 {
    font-weight: 550;
    font-size: 1.4em;
}

/* Third section */

#third_sec {
    background-color: white;
}

#third_sec #third_sec_div {
    margin: 1em 0 0 0.5em;
    text-align: left;
}

.inside_div {
    display: inline-block;
    padding: 0.5em 0.5em 0 0.8em;  
}

.inside_div a {
    color: #185A6A;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

#third_sec .image {
    display: inline-block;
    height: 350px;
    width: 22%;
    margin: 1em 1em;
    border-radius: 25px;
    background-size:cover;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.17);
}

#img1 {
    background-image: url("../images/img_1.jpg");
}

#img2 {
    background-image: url("../images/img_2.jpg");
}

#img3 {
    background-image: url("../images/img_3.jpg");
}

#img4 {
    background-image: url("../images/img_4.jpg");
}

/* Forth/fifth section */

.big_picture {
    height: 400px;
    width: 100%;
}

/* Footer */

#footer .near_logo {
    padding: 1em 0;
}

#footer .near_logo  a {
    text-decoration: underline;
}

#footer img {
    height: 50px;
    padding: 3em 0;
}